*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('/images/imgs/cup-of-coffee.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}